/**********************************
*
*   CSS Stylesheet
*      by Carl J. Ntifo
*
*   Colours:   
*       Main blue: #00bbff
*       Dark Grey: #516075
*       Light Grey: rgb(169, 169, 169)
*       Accent Grey: #dde4e6
*       White and Black: #000000, #FFFFFF
*
***********************************/

section
{
    display: grid;
}

[class*="col-"]
{
    padding: 1em;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

section.body, section.hero-main
{
    display: block;
}
/*768px*/

@media only screen and (min-width: 992px)
{
    section {grid-template-columns: repeat(12, 1fr);}
    
    .col-1 {grid-area: span 1/ span 1;}
    .col-2 {grid-area: span 1/ span 2;}
    .col-3 {grid-area: span 1/ span 3;}
    .col-4 {grid-area: span 1/ span 4;}
    .col-5 {grid-area: span 1/ span 5;}
    .col-6 {grid-area: span 1/ span 6;}
    .col-7 {grid-area: span 1/ span 7;}
    .col-8 {grid-area: span 1/ span 8;}
    .col-9 {grid-area: span 1/ span 9;}
    .col-10 {grid-area: span 1/ span 10;}
    .col-11 {grid-area: span 1/ span 11;}
    .col-12 {grid-area: span 1/ span 12;}
}