[class*="col-"]
{
    width: 100%;
    padding: 1em 1em;
    float: left;
}

*
{
    box-sizing: border-box;
}

.project-desc
{
    margin: 1.5em 0;
}

.tweets
{
    display: none;
}

h3, h4, h5, .testimonials h6
{
    text-align: center;
}

.progress h4
{
    text-align: left;
}

@media only screen and (min-width: 600px) 
{
    nav a
    {
        padding: 0 1.2em;
    }
    
    .project-desc
    {
        margin: 1.5em 0 0;
    }
    
    h3, h4, h5, .testimonials h6
    {
        text-align: left;
    }
    
    .project-desc h3
    {
        text-align: center;
    }
    
    .tweets
    {
        display: block;
    }
    
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}


@media only screen and (min-width: 768px)
{
    nav a
    {
        padding: 0 2em;
    }
    
    .project-desc
    {
        margin: 1.5em 0 0;
    }
    
    h3, h4, h5, , .testimonials h6
    {
        text-align: left;
    }
    
    .project-desc h3
    {
        text-align: center;
    }
    
    .tweets
    {
        display: block;
    }
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

header li
{
    width: 33.33%;
    /*padding: 0 1.2em;*/
}

section::after, .row::after 
{
    content: "";
    clear: both;
    display: table;
}

input[type=text], select, textarea 
{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] 
{
    background-color: #00bbff;
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover
{
    background-color: white;
    color: #00bbff;
    border: 1px solid #00bbff;
}