/**********************************
*
*   CSS Stylesheet
*      by Carl J. Ntifo
*
*   Colours:   
*       Main blue: #00bbff
*       Dark Grey: #516075
*       Light Grey: rgb(169, 169, 169)
*       Accent Grey: #dde4e6
*       White and Black: #000000, #FFFFFF
*
***********************************/


[class*="col-"]
{
    width: 100%;
    padding: 1em;
    float: left;
}

*
{
    box-sizing: border-box;
}

.title-row .title   {position: relative;top:0%}

.hero-main      {width: 85%;}
 header         {padding: 0 0.5em 1em;}
 nav            {padding: 0.5em 0 0;}

.portfolio .col-4, .resume-item    {border: 1px solid #00bbff; margin: 0.8em 0;}
.project-desc   {margin: 1.5em 0 0;}

.tweets         {display: none;}

.progress h4    {text-align: left;}
 h3, h4, h5, .testimonials h6    {text-align: center;}

.mobile-nopad   {padding: 0;}
.mobile-pad     {padding: 1em;}

@media only screen and (min-width: 600px) 
{
    .title-row  {position: relative;}
    
    .hero-main  {width: 85%;}
    header  {padding: 2em;}
    
    nav {padding: 2em 0 0;}
    nav a   {padding: 0 1.2em;}
   
    h3, h4, h5, .testimonials h6    {text-align: left;}
    
    .portfolio .col-4,   {border: none; margin-bottom: 0;}
    .resume-item    {border: none; margin: 1em 0;}
    .project-desc   {margin: 1.5em 0 0;}
    .project-desc h4. .progress h4  {text-align: center;}
    .tweets {display: block;}
    
    .mobile-nopad   {padding: 1em;}
    .mobile-pad     {padding: 0;}
    
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}


@media only screen and (min-width: 768px)
{
    .title-row  {position: relative;}
    .title-row .title   {position: absolute; top:35%}
    
    .hero-main  {width: 100%;}
    header  {padding: 2em;}
    
    nav {padding: 2em 0 0;}
    nav a   {padding: 0 2em;}
    
    h3, h4, h5, , .testimonials h6  {text-align: left;}
    
    .portfolio .col-4   {border: none; margin-bottom: 0;}
    .resume-item    {border: none; margin: 1em 0;}
    .project-desc   {margin: 1.5em 0 0;}
    .project-desc h4, .progress h4  {text-align: center;}
    .tweets {display: block;}
    
    .mobile-nopad   {padding: 1em;}
    .mobile-pad     {padding: 0;}
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

header li
{
    width: 33.33%;
}

section::after, .row::after 
{
    content: "";
    clear: both;
    display: table;
}

input[type=text], select, textarea 
{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] 
{
    background-color: #00bbff;
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover
{
    background-color: white;
    color: #00bbff;
    border: 1px solid #00bbff;
}