/**********************************
*
*   CSS Stylesheet
*      by Carl J. Ntifo
*
*   Colours:   
*       Main blue: #00bbff
*       Dark Grey: #516075
*       Light Grey: rgb(169, 169, 169)
*       Accent Grey: #dde4e6
*       White and Black: #000000, #FFFFFF
*
***********************************/

*, *:before, *:after
{
    margin: 0;
    padding: 0;
    direction: ltr;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    overflow-x: hidden;
}

div
{
    display: block;
}

ol, ul, dl
{
    list-style: none;
}

li
{
    display: inline-block;
}

a
{
    text-decoration: none;
    color: white;
}

img
{
    height: auto;
    max-width: 100%;
}

nav ul, footer ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

/************ Typography ***************/

p, h1, h2, h3, h4, h5, h6, a, span, small, form, input textarea
{
    font-family: Arial, sans-serif;
}

h1
{
    font-size: 30px;
    font-weight: 300;
    color: white;
}

h2
{
    font-size: 20px;
    font-weight: 300;
    color: white;
}

h3  {font-size: 1.1em;}
h6  {font-weight: normal;}

p
{
    font-size: 1em;
    line-height: 1.66;
}

a   {text-decoration: none;}

/*************** Hero Section ********************/

.hero
{
    background-color: #00bbff;
    height: 100%;
    width: 100%;
    position: relative;
    /******************************/
    display: grid;
    /*grid-template-rows: 2fr 3fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr 1fr;*/
}

.hero-main
{
    text-align: left;
    color: white;
    font-family: Ariel, sans-serif;
    /*grid-row-start: 2;
    grid-column-start: 2;*/
}

.hero-main p
{
    font-size: 30px;
    line-height: 1.5;
    color: white;
    font-family: Ariel, sans-serif;
}

.hero-main button
{
    margin: 1em 0 0;
}

.hero-main button:first-of-type
{
    background-color: white;
    border: 1px solid #00bbff;
    color: #00bbff;
}

/*.social
{
    grid-row-start: 3;
    grid-column-start: 2;
}*/

.scroll
{
    margin: auto;
    text-align: center;
    /*grid-row-start: 3;
    grid-column-start: 3*/
}

/************** Header and Nav *********************/

header
{
    /*margin: 0 auto;*/
    text-align: center;
    background-color: #00bbff;
    padding: 1em !important;
    /*Sticky Header*/
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

header .row
{
    width: 85%;
    margin: 0 auto;
}

header a:visited    {color: white;}

#headshot
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.title-row
{
    display: grid;
}

nav
{
    padding: 0 !important;
}

header h1
{
    font-size: 20px;
}

header h2
{
    font-size: 15px;
    padding-top: 0.2em;
}

nav li
{
    font-size: 1em !important;
}

nav li, footer li
{
    display: inline;
    font-size: 20px;
}

nav a 
{
    padding: 0 0.5em; /*150px*/
    color: rgb(255, 255, 255, 0.5);
}

nav a.current
{
    color: rgb(255, 255, 255, 1);
}

nav a:hover
{
    color: rgb(255, 255, 255, 0.9);
}

.burger
{
    cursor: pointer;
}

.burger div
{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/*********** Main Section **************/

.main
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: auto;
    padding: 1em 0;
    width: 85%
}

.main p {font-size: 15px;}

.main a, .main a:visited
{
    color: #00bbff;
}

.main a:hover
{
    text-decoration: underline;
}

/*.section-header
{
    position: relative;
}

.section-header::before
{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
    width: 100%;
    border-bottom: 3px solid rgb(169, 169, 169);
}

.section-header span
{
    position: relative;
    background-color: white;
    padding: 0 0.3em;
}*/

/***************** Footer ************************/

footer
{
    padding: 1em;
    /*margin: 0 auto;*/
    text-align: center;
    background-color: #00bbff;
}

/************ Socials and Icons ********************/

i
{
    font-size: 35px;
    color: white;
}

.fa 
{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.social {margin: 1em 0;}

.social li i
{
    display: inline-block;
    margin: 0 .4em .3em 0;
    text-align: center;
    font-size: 20px;
    width: 42px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #dde4e6;
}

.social li a:visited
{
    color: #516075;
}

.social li i:hover
{
    color: #fff!important;
    border-color: transparent;
}

.social li i.facebook:hover
{
    background-color: #3c5fac;
}

.social li i.twitter:hover
{
    background-color: #5ec3df;
}

.social li i.instagram:hover
{
    background-color: #DD2A7B;
}

.social li i.linkedin:hover
{
    background-color: #2089b5;
}

.social li i.github:hover
{
    background-color: #222;
}

/* Facebook */
.fa-facebook {
  /*background: #3B5998;*/
  color: white;
}

/* Twitter */
.fa-twitter {
  /*background: #55ACEE;*/
  color: white;
}

/**************** Skills and Resume *********************/

.tweets {padding: 0 !important;}

.progress ul
{
    list-style-type: none;
    padding-bottom: 0.8em
}

.progress-list li
{
    display: list-item;
}

.progress-bar
{
    background-color: rgb(169, 169, 169);
}

[class*="lang-bar-"]
{
    background-color: #00bbff;
}

[class*="lang-bar-"], .progress-bar
{
    height: 0.8rem;
    border-radius: 2px;
}

.lang-bar-csharp    {width: 95%;}
.lang-bar-java      {width: 89%;}
.lang-bar-cplusplus {width: 80%;}
.lang-bar-html      {width: 70%;}
.lang-bar-python    {width: 65%;}
.lang-bar-DX        {width: 80%;}
.lang-bar-opengl    {width: 86%;}
.lang-bar-jquery    {width: 60%;}
.lang-bar-dotnet    {width: 65%;}

.badge-list
{
    display: inline-block;
    font-size: 15px;
}

.badge-list li
{
    padding: 0.35em 0.7em;
    padding-bottom: 0.4em;
    color: #434E5E;
    background-color: #f5f6f8;
    font-weight: 700;
    margin: 0.2em 0em;
    border-radius: 4px;
}

.badge-list li:hover
{
    color: #f5f6f8;
    background-color: #434E5E;
}

/**************** Portfolio ********************/

.project
{
    display: grid;
    grid-template-rows: 200px 150px 270px;
    text-align: center;
}

.project .badge-list
{
    padding: 0.75rem 1.25rem;
}

.img-wrap {position: relative;}

.project .project-logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.pp
{
    height: 150px;
    width 150px;
}

.project-text
{
    text-align: left;
}

.project-text h3
{
    margin: 1em 0 1em;
}

/***************** Blockquote **********************/

.ArticleCopy
{
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    width: 100%;
    margin: 1.3em auto 0;
    padding: 0 1.6rem;
}

.ArticleCopy p 
{
    text-rendering: optimizeLegibility;
}

.ArticleCopy blockquote 
{
    border-radius: 3px;
    position: relative;  /*  <--- */
    font-style: italic;
    text-align: center;
    padding: 1rem 1.2rem;
    
    /*width: 80%;  /* create space for the quotes */
    width: 80%;
    color: #4a4a4a;
    margin: 1rem auto 0rem;
    /*margin: 1rem auto 2rem;*/
    color: #4a4a4a;
    background: #E8E8E8;
}

/* -- create the quotation marks -- */
.ArticleCopy blockquote:before,
.ArticleCopy blockquote:after
{
    font-family: FontAwesome;
    position: absolute;
    /* -- inside the relative position of blockquote -- */
    top: 13px;
    color: #E8E8E8;
    font-size: 34px;
}

.ArticleCopy blockquote:before
{
    content: "\f10d";
    margin-right: 13px;
    right: 100%;
}

.ArticleCopy blockquote:after
{
    content: "\f10e";
    margin-left: 13px;
    left: 100%;  
}

.quote-by 
{
    display: block;
    padding: 0.5em 0 0 0.8em;
    text-align: right;
    font-size: 13px;
    font-style: italic;
}

/*************** Contact Section **********************/

input[type=text], select, textarea 
{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] 
{
    background-color: #00bbff;
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover
{
    background-color: white;
    color: #00bbff;
    border: 1px solid #00bbff;
}

button 
{
    background-color: #00bbff;
    border: 1px solid white;
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 4px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover
{
    background-color: white;
    border: 1px solid #00bbff;
    color: #00bbff;
}

/**************** Mobile First Stylings *************************/


/* Extra small devices (phones, 600px and down) */

 header         {padding: 0 0.5em 1em;}
 nav            {padding: 0.5em 0 0;}

.portfolio .col-4, .resume-item    {border: 1px solid #00bbff; margin: 0.8em 0;}
.project-desc   {margin: 1.5em 0 0;}

.tweets         {display: none;}

.progress h4    {text-align: left;}
 h3, h4, h5, .testimonials h6    {text-align: center;}

.mobile-nopad   {padding: 0;}
.mobile-pad     {padding: 1em;}

header li   {width: 33.33%;}

/*Splash*/

.hero
{
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
} 

.hero-main
{
    grid-row-start: 2;
    justify-self: center;
    text-align: center;
}

.social
{
    grid-row-start: 3;
    justify-self: center;
}

.scroll
{
    grid-row-start: 5;
    grid-column-start: 1;
}

button {font-size: 0.8em;}

/*Nav*/
    
.title-row
{
    grid-template-columns: 1fr 2fr 1fr;
}

header img
{
    grid-column-start: 1;
    align-self: center;
    justify-self: center;
}

.title
{
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
}

nav
{
    grid-column-start: 3;
    align-self: center;
    justify-self: center;
}

nav .burger {display: block;}
section#body {position: relative;}

nav ul
{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    position: absolute;
    right: 0;
    height: 80vh;
    width: 100vw;
    top: 18vh;
    background-color: #00bbff;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

nav ul li
{
    opacity: 0;
    align-self: center;
    justify-self: center;
}

.nav-active
{
    transform: translateX(0%);
}

.clicked .line-one
{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.clicked .line-two
{
    opacity: 0;
}

.clicked .line-three
{
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinksFade
{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    header  {padding: 2em;}
    
    nav {padding: 2em 0 0;}
    nav a   {padding: 0 1.2em;}
   
    h3, h4, h5, .testimonials h6    {text-align: left;}
    
    .portfolio .col-4,   {border: none; margin-bottom: 0;}
    .resume-item    {border: none; margin: 1em 0;}
    .project-desc   {margin: 1.5em 0 0;}
    .project-desc h4. .progress h4  {text-align: center;}
    .tweets {display: block;}
    
    .mobile-nopad   {padding: 1em;}
    .mobile-pad     {padding: 0;}
    
    /*Splash*/

    .hero
    {
        grid-template-rows: 2fr 3fr 1fr 1fr;
        grid-template-columns: 1fr 3fr 1fr 1fr !important;
        /*grid-template-columns: 3fr 1fr;*/
    } 

    .hero-main
    {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 4;
        justify-self: left;
        text-align: left;
    }

    .social
    {
        grid-row-start: 3;
        grid-column-start: 2;
        justify-self: left;
    }

    .scroll
    {
        display: block;
        grid-row-start: 3;
        grid-column-start: 3;
    }
    
    .scroll p {display: none;}
    button {font-size: 0.8em;}
    
    /*Nav*/
    
    .title-row
    {
        grid-template-columns: 100px 200px auto 100px;
        grid-template-columns: 1fr 2fr 1fr;
    }

    header img
    {
        grid-column-start: 1;
        align-self: center;
        justify-self: center;
    }

    .title
    {
        grid-column-start: 2;
        align-self: center;
        justify-self: center;
    }

    nav
    {
        grid-column-start: 3;
        align-self: center;
        justify-self: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{
    .title-row  {position: relative;}
    
    .hero-main  {width: 100%;}
    header  {padding: 2em;}
    
    nav {padding: 2em 0 0;}
    nav a   {padding: 0 1.5em;}
    
    h3, h4, h5, , .testimonials h6  {text-align: left;}
    
    .portfolio .col-4   {border: none; margin-bottom: 0;}
    .resume-item    {border: none; margin: 1em 0;}
    .project-desc   {margin: 1.5em 0 0;}
    .project-desc h4, .progress h4  {text-align: center;}
    .tweets {display: block;}
    
    .mobile-nopad   {padding: 1em;}
    .mobile-pad     {padding: 0;}
    
    /*Splash*/

    .hero
    {
        grid-template-rows: 2fr 3fr 1fr 1fr;
        grid-template-columns: 1fr 3fr 1fr 1fr !important;
    } 

    .hero-main
    {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .social
    {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .scroll
    {
        display: block;
        grid-row-start: 3;
        grid-column-start: 3;
    }
    
    .scroll p {display: block;}
    button {font-size: inherit;}
    
    /*Nav*/
    
    .title-row
    {
        /*grid-template-columns: 50px 6.25em 12.5em auto 31.25em 50px;*/
        grid-template-columns: 50px 80px 170px auto 450px 50px;
    }

    header img
    {
        grid-column-start: 2;
        align-self: center;
        justify-self: center;
    }

    .title
    {
        grid-column-start: 3;
        align-self: center;
        justify-self: center;
    }

    nav
    {
        grid-column-start: 5;
        align-self: center;
        justify-self: center;
    }
    
    nav ul
    {
        display: block;
        position: relative;
        position: inherit;
        height: inherit;
        width: inherit;
        transform: translateX(0%);
        transition: all 0s;
    }

    nav ul li   {opacity: inherit;}
    
    nav ul  {display: block;}
    nav .burger {display: none;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
    
    
}